body {
  padding-top:        50px;
}

.navbar-inverse {
  color:              #999;
}

.jumbotron {
  position:           relative;
  margin-bottom:      0px;
  border-bottom:      #bcbcbc 2px dotted;
}

.icon-envelope {
  font-size:          22px;
}
.icon-github {
  font-size:          26px;
}

.contact-me-link {
  margin-left:        5px;
}

.large {
  font-size:          30px;
  letter-spacing:     -1px;
}

.progress {
  height:             30px;
}

.progress-bar {
  background-color:   #383838;
}

.progress-label {
  text-align:         left;
  font-size:          21px;
  line-height:        30px;
  margin-left:        10px;
  color:              #f671bb;
  font-weight:        bold;
}

.item {
  width:              100%;
  background-color:   white;
}

.item img {
  -webkit-filter:     saturate(18%) brightness(64%);
}

#hello {
  background-color:   #f671bb;
}

#footer {
  padding:            40px;
}

blockquote {
  border-left:        5px solid #787878;
}

blockquote small {
  color:              #444;
}

.carousel-indicators {
  line-height:        0;
  bottom:             24px;
}

.carousel-caption {
  background-color:   rgba(30, 30, 30, 0.7);
  padding:            20px 20px 30px 20px;
  border-radius:      20px;
}

.btn-primary {
  background-color:   #383838;
  border-color:       #2c2c2c;
}

.btn-primary:hover {
  background-color:   #252525;
  border-color:       #1f1f1f;
}

.btn-lg {
  font-size:          20px;
  padding:            5px 10px 7px;
}

