body {
  padding-top:        50px;
}

.jumbotron {
  position:           relative;
  margin-bottom:      0px;
}

.icon-envelope {
  font-size:          22px;
}
.icon-github {
  font-size:          26px;
}

.contact-me-link {
  margin-left:        5px;
}
