---
layout: default
title: My Portfolio
---

.jumbotron#hello
  .container
    %h1
      Hello and Welcome to my Site
    %p
      Super cool construction is going on. The progress and the source of the
      site can be tracked on the
      <a href="https://github.com/D4L" target="_blank" >Github Page</a>. Please enjoy your stay.
.jumbotron#about-me
  .container
    %h1
      About Me
.jumbotron#projects
  .container
    %h1
      Projects
.jumbotron#work-experience
  .container
    %h1
      Work Experience
.jumbotron#resume
  .container
    %h1
      Resume
.jumbotron#contact-me
  .container
    %h1
      Contact Me
    %p
      Ways to contact me!
      %br
      %i.icon-github.icon-large
      %span.contact-me-link
        https://github.com/D4L
      %br
      %i.icon-envelope.icon-large
      %span.contact-me-link
        Austin.L.D4L@gmail.com

