---
layout: default
title: My Portfolio
---

.jumbotron#hello
  .container
    %h1
      Hello and Welcome to my Site
    %p
      Super cool construction!
.jumbotron#about-me
  .jumbotron-background
  .container
    %h1
      About Me
.jumbotron#projects
  .jumbotron-background
  .container
    %h1
      Projects
.jumbotron#work-experience
  .jumbotron-background
  .container
    %h1
      Work Experience
.jumbotron#resume
  .jumbotron-background
  .container
    %h1
      Resume
.jumbotron#contact-me
  .jumbotron-background
  .container
    %h1
      Contact Me
    %p
      Ways to contact me!
      %br/
      %i.icon-github.icon-large
        https://github.com/D4L
      %br/
      %i.icon-envelope.icon-large
        Austin.L.D4L@gmail.com

