---
layout: default
title: My Portfolio
---

.jumbotron#hello
  .container
    %h1
      Hello and Welcome to my Site
    %p
      Super cool construction!
.jumbotron#about-me
  .container
    %h1
      About Me
.jumbotron#projects
  .container
    %h1
      Projects
.jumbotron#work-experience
  .container
    %h1
      Work Experience
.jumbotron#resume
  .container
    %h1
      Resume
.jumbotron#contact-me
  .container
    %h1
      Contact Me
