---
layout: default
title: My Portfolio
---

.jumbotron#hello
  .container
    %h1
      99 lines of code on the wall
    %p
      Hello, my name is Austin Lee. Firstly, let me finish that song...
    %pre.prettyprint.linenums
      :preserve
        linesOutput = -&gt; ( num, wall: true ) do
          wallOutput = if wall
                         " on the wall"
                       end
          "#&#123;num&#125; line#&#123; num != 1 ? 's' : '' &#125; of code#&#123;wallOutput&#125;"
        end

        99.downto(1).each do &#124;numOfLines&#124;
          puts linesOutput[numOfLines]
          puts linesOutput[numOfLines, wall: false]
          puts "Take one down, refactor around!"
          if numOfLines > 1
            puts linesOutput[numOfLines - 1]
          else
            puts "No more lines of code on the wall!"
          end
        end
    %p
      There is some construction going on.
      The progress and the source of the site can be tracked on the
      <a href="https://github.com/D4L" target="_blank" >Github Page</a>. Please enjoy your stay.
.jumbotron#about-me
  .container
    %h1
      About Me

    .row
      .col-md-7
        %p
          I am studying
          %span.large
            Software Engineering
          at the
          %span.large
            University of Waterloo.
          I, like Ross Geller's Science Boy, have a superhuman thirst for
          %span.large
            knowledge.
          Luckily, my endless passion never goes unfulfilled as I spend my spare time
          %span.large
            learning
          about the world around me.
          I also enjoy well-written
          %span.large
            code
          and good designs.
        %p
          My greatest strength is how fast I learn and can
          %span.large
            adapt to a problem.
          I have a strong foundation in many of the core programming paradigms and it helps me
          %span.large
            understand
          difficult concepts
          %span.large
            easily.
        %blockquote
          %p
            The only way to win is to learn faster than anyone else.
          %small
            Eric Ries in
            %cite{ :title => "The Learn Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses" }
              The Lean Startup
        %p
          Deploy first, code later. But refined. And thought through.

      .col-md-5
        %h2
          Skills
        %h3
          Languages
        == {% progress_bar Ruby/Rails 100 %}
        == {% progress_bar C++ 95 %}
        == {% progress_bar Javascript/JQuery 95 %}
        == {% progress_bar SQL 90 %}
        %h3
          Other
        == {% progress_bar Git 100 %}
        == {% progress_bar Unix 80 %}
        == {% progress_bar Problem Solving 93 %}
        == {% progress_bar Quick Learner 100 %}

.jumbotron#projects
  .container
    %h1
      Projects
    .carousel.slide#project-carousel
      %ol.carousel-indicators
        %li.active{ :data => { :target => "project-carousel", "slide-to" => "0" } }
      .carousel-inner
        .item.active
          %img{ :src => "img/hippocampus-screenshot.png", :alt => "Hippocampus App", :style => "opacity: 0.7;" }
          .carousel-caption
            %h1
              Hippocampus
            %p
              This application was written using the new Javascript framework Meteor to help me/users study.
              %br/
              Click <a class="btn btn-primary" href="http://hippocampus.meteor.com" target="_blank" >here</a> to check it out!
      %a.left.carousel-control{ :href => "#project-carousel", :data => { :slide => "prev" } }
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{ :href => "#project-carousel", :data => { :slide => "next" } }
        %span.glyphicon.glyphicon-chevron-right
.jumbotron#work-experience
  .container
    %h1
      Work Experience
.jumbotron#resume
  .container
    %h1
      Resume
    %p
      Yay! You made it this far.
      %ul
        %li
          Are you looking for a short summary of my career?
        %li
          Are you wondering what other skills I have?
        %li
          or Are you searching for a document that you can show your boss and exclaim, "I want him!"
      Look no further, this document is for you!
      %br/
      %a.btn.btn-primary{ :href => "pdf/Resume.pdf" }
        %i.icon-file
        Resume
      %br/
      Or download and save onto your computer.
      %br/
      %a.btn.btn-primary{ :href => "pdf/Resume.pdf", :download => "Resume.pdf"}
        %i.icon-download-alt
        Download me
.jumbotron#contact-me
  .container
    %h1
      Contact Me
    %p
      Ways to contact me!
      %br
      %i.icon-github.icon-large
      %span.contact-me-link
        https://github.com/D4L
      %br
      %i.icon-envelope.icon-large
      %span.contact-me-link
        Austin.L.D4L@gmail.com

